
<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Cravery</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&family=Roboto:wght@400;500;700&display=swap"
        rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="{% static 'web/lib/animate/animate.min.css' %}" rel="stylesheet">
    <link href="{% static 'web/lib/owlcarousel/assets/owl.carousel.min.css' %}" rel="stylesheet">


    <!-- Customized Bootstrap Stylesheet -->
    <link href="{% static 'web/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="{% static 'web/css/style.css' %}" rel="stylesheet">
</head>

<body>

    <!-- Spinner Start -->
    <div id="spinner"
        class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
        <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
    <!-- Spinner End -->
      <!-- Navbar & Hero Start -->
    <div class="container-fluid nav-bar p-0">

        <div class="row gx-0 bg-primary px-5 align-items-center">
            <div class="col-lg-3 d-none d-lg-block">
                <nav class="navbar navbar-light position-relative" style="width: 100px;">
<!--                    <button class="navbar-toggler border-0 fs-4 w-80 px-0 text-start" type="button"-->
<!--                        data-bs-toggle="collapse" data-bs-target="#allCat">-->
<!--                        <h4 class="m-0"><i class="fa fa-bars me-2"></i>abc Categories</h4>-->
<!--                    </button>-->
                    <div class="nav nav-brand">
                        <img class="nav nav-brand" src="{% static 'web/img/logo.png' %}" height="80px">
                    </div>
<!--                    <div class="collapse navbar-collapse rounded-bottom" id="allCat">-->
<!--                        <div class="navbar-nav ms-auto py-0">-->
<!--                            <ul class="list-unstyled categories-bars">-->
<!--                                <li>-->
<!--                                    <div class="categories-bars-item">-->
<!--                                        <a href="#">Accessories</a>-->
<!--                                        <span>(3)</span>-->
<!--                                    </div>-->
<!--                                </li>-->
<!--                                <li>-->
<!--                                    <div class="categories-bars-item">-->
<!--                                        <a href="#">Electronics & Computer</a>-->
<!--                                        <span>(5)</span>-->
<!--                                    </div>-->
<!--                                </li>-->
<!--                                <li>-->
<!--                                    <div class="categories-bars-item">-->
<!--                                        <a href="#">Laptops & Desktops</a>-->
<!--                                        <span>(2)</span>-->
<!--                                    </div>-->
<!--                                </li>-->
<!--                                <li>-->
<!--                                    <div class="categories-bars-item">-->
<!--                                        <a href="#">Mobiles & Tablets</a>-->
<!--                                        <span>(8)</span>-->
<!--                                    </div>-->
<!--                                </li>-->
<!--                                <li>-->
<!--                                    <div class="categories-bars-item">-->
<!--                                        <a href="#">SmartPhone & Smart TV</a>-->
<!--                                        <span>(5)</span>-->
<!--                                    </div>-->
<!--                                </li>-->
<!--                            </ul>-->

<!--                        </div>-->

<!--                    </div>-->

                </nav>
            </div>
            <div class="col-12 col-lg-9">
                <nav class="navbar navbar-expand-lg navbar-light bg-primary ">
<!--                    <a href="" class="navbar-brand d-block d-lg-none">-->
<!--                        <h1 class="display-5 text-secondary m-0"><i-->
<!--                                class="fas fa-shopping-bag text-white me-2"></i>Electro</h1>-->
<!--                        &lt;!&ndash; <img src="img/logo.png" alt="Logo"> &ndash;&gt;-->
<!--                    </a>-->
<!--                    <button class="navbar-toggler ms-auto" type="button" data-bs-toggle="collapse"-->
<!--                        data-bs-target="#navbarCollapse">-->
<!--                        <span class="fa fa-bars fa-1x"></span>-->
<!--                    </button>-->
                    <div class="collapse navbar-collapse" style="margin-left: 50px; display: block; padding: 10px;" id="navbarCollapse">
                        <div class="navbar-nav ms-auto py-0">
                            <a href="{% url 'home' %}" class="nav-item nav-link">Home</a>
                            <a href="{% url 'all_food' %}" class="nav-item nav-link active">Food</a>
                            <div class="nav-item dropdown">
                                <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Categories</a>
                                <div class="dropdown-menu m-0">
                                    {% for i in cat %}
                                    <a href="{% url 'category_food' cat_name=i.CategoryName %}" class="dropdown-item">{{i.CategoryName}}</a>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="nav-item dropdown">
                                <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Restaurants</a>
                                <div class="dropdown-menu m-0">
                                    {% for i in restaurant %}
                                    <a href="{% url 'restaurant_food' rest_name=i.RestaurantName %}" class="dropdown-item">{{i.RestaurantName}}</a>
                                    {% endfor %}
                                </div>
                            </div>
                            <a href="{% url 'services' %}" class="nav-item nav-link">Services</a>
                            <a href="{% url 'contact' %}" class="nav-item nav-link me-2">Contact</a>

                        </div>
<!--                        <a href="" class="btn btn-secondary rounded-pill py-2 px-4 px-lg-3 mb-3 mb-md-3 mb-lg-0"><i-->
<!--                                class="fa fa-mobile-alt me-2"></i> +0123 456 7890</a>-->

                           <a href="#" class="text-light d-flex align-items-center justify-content-center me-3"><span
                                class="rounded-circle btn-md-square border" style="margin-left: 120px;"><i class="fas fa-heart"></i></span></a>
                    <a href="{% url 'cart' %}"
                   class="text-light d-flex align-items-center justify-content-center me-3 position-relative">

                    <span class="rounded-circle active btn-md-square border position-relative">
                        <i class="fas fa-shopping-cart"></i>
                    </span>
                    <span class="position-absolute badge rounded-pill bg-white text-dark"
                          style="top: 0px; right: -4px; font-size: 10px;">
                        {{ count }}
                    </span>

                    </a>
                        {% if request.session.Username %}
                        <div class="dropdown" >
                        <a href="#" class="dropdown-toggle text-light ms-2" data-bs-toggle="dropdown"><small><i
                                    class="fa fa-user me-2"></i>Hey {{request.session.Username}}</small></a>
                        <div class="dropdown-menu rounded">
                            <a href="#" class="dropdown-item"> Wishlist</a>
                            <a href="#" class="dropdown-item"> Notifications</a>
                            <a href="#" class="dropdown-item"> Account Settings</a>
                            <a href="#" class="dropdown-item"> My Account</a>
                            <a href="{% url 'user_logout' %}" class="dropdown-item"> Log Out</a>
                        </div>
                            {% else %}
                            <a href="{% url 'signin' %}" class="text-light ms-2"><small><i
                                    class="fa fa-user me-2"></i></small>Login</a>
                    </div>
                        {% endif %}

                    </div>
                </nav>
            </div>
        </div>
    </div>
    <!-- Navbar & Hero End -->

    <!-- Single Page Header start -->
    <div class="container-fluid page-header py-5">
        <h1 class="text-center text-white display-6 wow fadeInUp" data-wow-delay="0.1s">Beat Your Cravings !</h1>
        <ol class="breadcrumb justify-content-center mb-0 wow fadeInUp" data-wow-delay="0.3s">
            <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
            <li class="breadcrumb-item active text-white">Food</li>
        </ol>
    </div>
    <!-- Single Page Header End -->


    <!-- Shop Page Start -->
    <div class="container-fluid shop py-5">
        <div class="container py-5">
            <div class="row g-4">
                <div class="col-lg-3 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="product-categories mb-4">
                        <h4>Categories</h4>
                        <ul class="list-styled">
                            {% for i in cat %}
                            <li>
                                <div class="categories-item">
                                    <a href="#" class="text-dark">
                                        {{i.CategoryName}}</a>
                                </div>
                            </li>
                            {% endfor %}

                        </ul>
                    </div>


                    <div class="product-tags py-4">
                        <h4 class="mb-3">RESTAURANTS</h4>
                        <div class="product-tags-items bg-light rounded p-3">
                            {% for i in restaurant %}
                            <a href="{% url 'restaurant_food' rest_name=i.RestaurantName %}" class="border rounded py-1 px-2 mb-2">{{i.RestaurantName}}</a>
                            {% endfor %}
                        </div>
                    </div>

                </div>
                <div class="col-lg-9 wow fadeInUp" data-wow-delay="0.1s">
                    <h1 class="mb-5">Made for You</h1>
                    <div class="row g-4">
                    <div class="tab-content">
                        <div id="tab-5" class="tab-pane fade show p-0 active">
                            <div class="row g-4 product">
                                {% for f in food %}
                                <div class="col-lg-4">
                                    <div class="product-item rounded wow fadeInUp" data-wow-delay="0.1s">
                                        <div class="product-item-inner border rounded">
                                            <div class="product-item-inner-item">
                                                <a href="#">
                                                <img src="{{f.DishImage.url}}" class="img-fluid w-100 rounded-top" style="height: 250px;" alt="">
                                                </a>
                                            </div>
                                            <div class="text-center rounded-bottom p-4">
                                                <a href="#" class="d-block mb-2">{{f.Category_Name}}</a>
                                                <a href="#" class="d-block h4">{{f.DishName}}</a>
                                                <span class="text-primary fs-5">Rs. {{f.DishPrice}}</span>
                                            </div>
                                        </div>
                                        <div
                                            class="product-item-add border border-top-0 rounded-bottom  text-center p-4 pt-0">
                                            <a href="#"
                                                class="btn btn-primary border-secondary rounded-pill py-2 px-4 mb-4"><i
                                                    class="fas fa-shopping-cart me-2"></i> Add To Cart</a>
                                            <div class="d-flex justify-content-between align-items-center">
                                                <div class="d-flex">
                                                    <i class="fas fa-star text-primary"></i>
                                                    <i class="fas fa-star text-primary"></i>
                                                    <i class="fas fa-star text-primary"></i>
                                                    <i class="fas fa-star text-primary"></i>
                                                    <i class="fas fa-star"></i>
                                                </div>
                                                <div class="d-flex">
                                                    <a href="#"
                                                        class="text-primary d-flex align-items-center justify-content-center me-3"><span
                                                            class="rounded-circle btn-sm-square border"><i
                                                                class="fas fa-random"></i></i></a>
                                                    <a href="#"
                                                        class="text-primary d-flex align-items-center justify-content-center me-0"><span
                                                            class="rounded-circle btn-sm-square border"><i
                                                                class="fas fa-heart"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}

                                <div class="col-12 wow fadeInUp" data-wow-delay="0.1s">
                                    <div class="pagination d-flex justify-content-center mt-5">
                                        <a href="#" class="rounded">&laquo;</a>
                                        <a href="#" class="active rounded">1</a>
                                        <a href="#" class="rounded">2</a>
                                        <a href="#" class="rounded">3</a>
                                        <a href="#" class="rounded">4</a>
                                        <a href="#" class="rounded">5</a>
                                        <a href="#" class="rounded">6</a>
                                        <a href="#" class="rounded">&raquo;</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Shop Page End -->

    <!-- Footer Start -->
    <div class="container-fluid footer py-5 wow fadeIn" data-wow-delay="0.2s">
        <div class="container py-5">
            <div class="row g-4 rounded mb-5" style="background: rgba(255, 255, 255, .03);">
                <div class="col-md-6 col-lg-6 col-xl-3">
                    <div class="rounded p-4">
                        <div class="rounded-circle bg-secondary d-flex align-items-center justify-content-center mb-4"
                            style="width: 70px; height: 70px;">
                            <i class="fas fa-map-marker-alt fa-2x text-primary"></i>
                        </div>
                        <div>
                            <h4 class="text-white">Address</h4>
                            <p class="mb-2">123 Street Address . Kerala</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-6 col-xl-3">
                    <div class="rounded p-4">
                        <div class="rounded-circle bg-secondary d-flex align-items-center justify-content-center mb-4"
                            style="width: 70px; height: 70px;">
                            <i class="fas fa-envelope fa-2x text-primary"></i>
                        </div>
                        <div>
                            <h4 class="text-white">Mail Us</h4>
                            <p class="mb-2">admin@cravery.com</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-6 col-xl-3">
                    <div class="rounded p-4">
                        <div class="rounded-circle bg-secondary d-flex align-items-center justify-content-center mb-4"
                            style="width: 70px; height: 70px;">
                            <i class="fa fa-phone-alt fa-2x text-primary"></i>
                        </div>
                        <div>
                            <h4 class="text-white">Telephone</h4>
                            <p class="mb-2">+91 9878963723</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-6 col-xl-3">
                    <div class="rounded p-4">
                        <div class="rounded-circle bg-secondary d-flex align-items-center justify-content-center mb-4"
                            style="width: 70px; height: 70px;">
                            <i class="fab fa-firefox-browser fa-2x text-primary"></i>
                        </div>
                        <div>
                            <h4 class="text-white">cravery.com</h4>
                            <p class="mb-2">+91 9878963723</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row g-5">
                <div class="col-md-6 col-lg-6 col-xl-4">
                    <div class="footer-item d-flex flex-column">
                        <h4 class="text-primary mb-4">Customer Service</h4>
                        <a href="{% url 'contact' %}" class=""><i class="fas fa-angle-right me-2"></i> Contact Us</a>
                        <a href="#" class=""><i class="fas fa-angle-right me-2"></i> Order History</a>
                        <a href="#" class=""><i class="fas fa-angle-right me-2"></i> My Account</a>
                    </div>
                </div>
                <div class="col-md-6 col-lg-6 col-xl-4">
                    <div class="footer-item d-flex flex-column">
                        <h4 class="text-primary mb-4">Information</h4>
                        <a href="#" class=""><i class="fas fa-angle-right me-2"></i> About Us</a>
                        <a href="#" class=""><i class="fas fa-angle-right me-2"></i> Delivery infomation</a>
                        <a href="#" class=""><i class="fas fa-angle-right me-2"></i> Privacy Policy</a>
                        <a href="#" class=""><i class="fas fa-angle-right me-2"></i> Terms & Conditions</a>
                        <a href="#" class=""><i class="fas fa-angle-right me-2"></i> Warranty</a>
                        <a href="#" class=""><i class="fas fa-angle-right me-2"></i> FAQ</a>
                        <a href="#" class=""><i class="fas fa-angle-right me-2"></i> Seller Login</a>
                    </div>
                </div>
                <div class="col-md-6 col-lg-6 col-xl-4">
                    <div class="footer-item d-flex flex-column">
                        <h4 class="text-primary mb-3">Extras</h4>
                        <a href="#" class=""><i class="fas fa-angle-right me-2"></i> Wishlist</a>
                        <a href="#" class=""><i class="fas fa-angle-right me-2"></i> Order History</a>
                        <a href="#" class=""><i class="fas fa-angle-right me-2"></i> Track Your Order</a>
                        <a href="#" class=""><i class="fas fa-angle-right me-2"></i> Track Your Order</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer End -->


    <!-- Copyright Start -->
    <div class="container-fluid copyright py-4">
        <div class="container">
            <div class="row g-4 align-items-center">
                <div class="col-md-6 text-center text-md-start mb-md-0">
                    <span class="text-white"><a href="#" class="border-bottom text-white"><i
                                class="fas fa-copyright text-light me-2"></i>Cravery</a>, All right
                        reserved.</span>
                </div>

            </div>
        </div>
    </div>
    <!-- Copyright End -->


    <!-- Back to Top -->
    <a href="{% url 'home' %}" class="btn btn-primary btn-lg-square back-to-top"><i class="fa fa-arrow-up"></i></a>

    <!-- JavaScript Libraries -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="{% static 'web/lib/wow/wow.min.js' %}"></script>
    <script src="{% static 'web/lib/owlcarousel/owl.carousel.min.js' %}"></script>


    <!-- Template Javascript -->
    <script src="{% static 'web/js/main.js' %}"></script>
</body>

</html>