
<!doctype html>
{% load static %}
<html lang="en">
  <head>
  	<title>Sign In</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	
	<link rel="stylesheet" href="{% static 'login/css/style.css' %}">

	</head>
	<body class="img js-fullheight" style="background-image: url({% static 'login/images/bg.png' %});">
	<section class="ftco-section">
		<div class="container" style="margin-top: 120px;">
			<div class="row justify-content-center">
				<div class="col-md-6 text-center mb-3">
					<h1 class="heading-section" style="font-weight: bold;">LOGIN</h1>
				</div>
			</div>
			<div class="row justify-content-center">
				<div class="col-md-6 col-lg-4">
					<div class="login-wrap p-0">
		      	<p class="mb-4 text-center text-white" >Access your favorites in seconds.</p>
		      	<form action="{% url 'user_login' %}" method="post" class="signin-form">
                    {% csrf_token %}
		      		<div class="form-group">
		      			<input type="text" class="form-control" placeholder="Username" name="username" required>
		      		</div>
	            <div class="form-group">
	              <input id="password-field" type="password" class="form-control" name="password" placeholder="Password" required>
	              <span toggle="#password-field" class="fa fa-fw fa-eye field-icon toggle-password"></span>
	            </div><br>
	            <div class="form-group">
	            	<button type="submit" class="form-control btn btn-primary submit px-3">Login</button>
	            </div>
<!--	            <div class="form-group d-md-flex">-->
<!--	            	<div class="w-50">-->
<!--		            	<label class="checkbox-wrap checkbox-primary">Remember Me-->
<!--									  <input type="checkbox" checked>-->
<!--									  <span class="checkmark"></span>-->
<!--									</label>-->
<!--								</div>-->
<!--								<div class="w-50 text-md-right">-->
<!--									<a href="#" style="color: #fff">Forgot Password</a>-->
<!--								</div>-->
<!--	            </div>-->
	          </form>
	          <p class="w-100 text-center">&mdash; Don't Have an Account? &mdash;</p>
	          <div class="d-flex text-center">
	          	<a href="{% url 'signup' %}" style="margin: auto;">Sign Up</a>
	          </div>
		      </div>
				</div>
			</div>
		</div>
	</section>

    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
	<script src="{% static 'login/js/jquery.min.js' %}"></script>
  <script src="{% static 'login/js/popper.js' %}"></script>
  <script src="{% static 'login/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'login/js/main.js' %}"></script>
    {% if messages %}
        {% for msg in messages %}
            {% if msg.tags == "error" %}
                <script>
                    swal('{{msg}}', '', 'error')
                </script>
            {% endif %}
        {% endfor %}
    {% endif %}
	</body>
</html>

