<!DOCTYPE html>
{% extends 'dashboard.html' %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="card">
    <div class="header">
        <h2 style="font-weight: bold;">
            Edit Dish
        </h2>
        <ul class="header-dropdown m-r--5">
            <li class="dropdown">
                <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button"
                   aria-haspopup="true" aria-expanded="false">
                    <i class="material-icons">more_vert</i>
                </a>
                <ul class="dropdown-menu pull-right">
                    <li><a href="javascript:void(0);" class=" waves-effect waves-block">Action</a></li>
                    <li><a href="javascript:void(0);" class=" waves-effect waves-block">Another action</a></li>
                    <li><a href="javascript:void(0);" class=" waves-effect waves-block">Something else here</a></li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="body">
        <form method="post" action="{% url 'update_dish' dish_id=dish.id %}" enctype="multipart/form-data">
            {% csrf_token %}
            <label>Dish Name</label>
            <div class="form-group">
                <div class="form-line">
                    <input type="text" id="email_address" class="form-control"
                           placeholder="Dish Name" value="{{dish.DishName}}" name="dname">
                </div>
            </div>
            <label>Category Name</label>
            <div class="form-group">
                <div class="form-line">
                    <select class="form-control" name="cname">
                        {% for i in cat %}
                        <option
                                {% if i.CategoryName == dish.Category_Name %}
                                selected
                                {% endif %}
                        >
                            {{i.CategoryName}}
                        </option>
                        {% endfor %}
                    </select>
                </div>

            </div>
            <label>Restaurant Name</label>
            <div class="form-group">
                <div class="form-line">
                    <select name="rname" class="form-control">
                        {% for r in rest %}
                        <option {% if r.RestaurantName == dish.Restaurant_Name %}
                                selected
                                {% endif %}
                        >
                            {{r.RestaurantName}}
                        </option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <label>Price</label>
            <div class="form-group">
                <div class="form-line">
                    <input type="text" id="email_address3" class="form-control"
                           placeholder="Price" name="dprice" value="{{dish.DishPrice}}">
                </div>
            </div>
            <label>Description</label>
            <div class="form-group">
                <div class="form-line">
                                        <textarea class="form-control" placeholder="Description"
                                                  name="desc">{{dish.DishDescription}}</textarea>
                </div>
            </div>
            <label>Upload Image</label>
            <div class="form-group">
                <div class="form-line">
                    <img src="{{dish.DishImage.url}}" height="50px">
                    <input type="file" class="form-control" name="dimg">
                </div>
            </div>
            <br>
            <button type="submit" class="btn btn-primary m-t-15 waves-effect">Update</button>
        </form>
    </div>
</div>

</body>
</html>
{% endblock %}